.salt-theme.salt-theme {
--salt-actionable-cta-background: var(--theme-commercial-actionable-cta-background);
--salt-actionable-cta-background-active: var(--theme-commercial-actionable-cta-background-active);
--salt-actionable-cta-background-disabled: var(--theme-commercial-actionable-cta-background-disabled);
--salt-actionable-cta-background-hover: var(--theme-commercial-actionable-cta-background-hover);
--salt-actionable-cta-foreground: var(--theme-commercial-actionable-cta-foreground);
--salt-actionable-cta-foreground-active: var(--theme-commercial-actionable-cta-foreground-active);
--salt-actionable-cta-foreground-disabled: var(--theme-commercial-actionable-cta-foreground-disabled);
--salt-actionable-cta-foreground-hover: var(--theme-commercial-actionable-cta-foreground-hover);
--salt-actionable-primary-background: var(--theme-commercial-actionable-primary-background);
--salt-actionable-primary-background-active: var(--theme-commercial-actionable-primary-background-active);
--salt-actionable-primary-background-disabled: var(--theme-commercial-actionable-primary-background-disabled);
--salt-actionable-primary-background-hover: var(--theme-commercial-actionable-primary-background-hover);
--salt-actionable-primary-foreground: var(--theme-commercial-actionable-primary-foreground);
--salt-actionable-primary-foreground-active: var(--theme-commercial-actionable-primary-foreground-active);
--salt-actionable-primary-foreground-disabled: var(--theme-commercial-actionable-primary-foreground-disabled);
--salt-actionable-primary-foreground-hover: var(--theme-commercial-actionable-primary-foreground-hover);
--salt-actionable-secondary-background: var(--theme-commercial-actionable-secondary-background);
--salt-actionable-secondary-background-active: var(--theme-commercial-actionable-secondary-background-active);
--salt-actionable-secondary-background-disabled: var(--theme-commercial-actionable-secondary-background-disabled);
--salt-actionable-secondary-background-hover: var(--theme-commercial-actionable-secondary-background-hover);
--salt-actionable-secondary-foreground: var(--theme-commercial-actionable-secondary-foreground);
--salt-actionable-secondary-foreground-active: var(--theme-commercial-actionable-secondary-foreground-active);
--salt-actionable-secondary-foreground-disabled: var(--theme-commercial-actionable-secondary-foreground-disabled);
--salt-actionable-secondary-foreground-hover: var(--theme-commercial-actionable-secondary-foreground-hover);
}